*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: blanchedalmond;
    box-sizing: border-box;
}
.in1{
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content:center ;
}
.cals{
    background-color: darkgray;
    padding: 20px;
    border-radius: 10px;
}
.cals form input{
    background-color: darkslategrey;
    border-style: dotted;
    border-radius: 7px;
    padding: 10px;
    height: 50px;
    width: 50px;
    margin: 2px;
    cursor: pointer;
    font-size: 20px;
    color: aliceblue;
}
.in2{
    display: flex;
    justify-content: flex-end;
}
.in2 input{
    flex: 1;
    text-align: right;
    font-size: 50px;
    font-weight: bold;
}