h1{
    color: midnightblue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
    font-weight: bold;
}
*{
    background-color: darkgray;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 15px;
}
.empty{
    background-color: darkgray;
    padding: 38px;
    border-radius: 7px;
    border-color: black;
    border-width: 3px;
    border-style: solid;
    margin-left: 5px;
    width: 250px;
}
.butnum{
    background-color: darkslategray;
    color: aliceblue;
    padding: 20px;
    border-radius: 7px;
    border-color: black;
    border-width: 3px;
    border-style: dashed;
    width: 60px;
}
.butsym{
    background-color: crimson;
    color: aliceblue;
    padding: 20px;
    border-radius: 7px;
    border-color: black;
    border-width: 3px;
    border-style: dotted;
    width: 60px;
}
.butchar{
    background-color: darkgoldenrod;
    color: aliceblue;
    padding: 20px;
    border-radius: 7px;
    border-color: black;
    border-width: 3px;
    border-style: dotted;
    width: 60px;
}
